---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-case-conflict
      - id: detect-private-key
      - id: debug-statements
      - id: no-commit-to-branch
        args: [--branch, main]

  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        pass_filenames: true
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy
        entry: uv run mypy .
        language: system
        types: [python]
        pass_filenames: false

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.22
    hooks:
      - id: uv-lock
      - id: uv-export
        args: [--no-dev, --format, requirements-txt, --output-file, requirements.txt]

  - repo: https://github.com/crate-ci/typos
    rev: v1.37.2
    hooks:
      - id: typos

  # Allows trailing commas, comments, etc. (unlike check-json)
  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
      - id: check-json5

  # Remove once https://github.com/astral-sh/ruff/issues/21258 is resolved and
  #  we use a corresponding ruff version
  - repo: https://github.com/MarcoGorelli/auto-walrus
    rev: 0.3.4
    hooks:
      - id: auto-walrus

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.0
    hooks:
      - id: yamllint


  - repo: local
    hooks:
      - id: pytest-unit
        name: pytest unit
        # Unset PYTHONPATH to ensure no external packages are loaded.
        entry: >
          env -u PYTHONPATH uv run pytest tests/unit/
          --cov=open_cups.thread_safe_dict
          --cov-report=term-missing --cov-fail-under=100
        language: system
        types: [python]
        pass_filenames: false

      - id: pytest-all
        name: pytest all
        # Unset PYTHONPATH to ensure no external packages are loaded.
        entry: >
          env -u PYTHONPATH uv run pytest
          --cov=open_cups --cov-report=term-missing --cov-fail-under=100
        language: system
        types: [python]
        pass_filenames: false
