---
name: Lint

on:
  pull_request:
    branches: [main]
    types: [opened, reopened, edited, synchronize, ready_for_review]
  workflow_dispatch:

jobs:
  main:
    name: PR title
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
